@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  /* BG-CONTACT */
  @keyframes bg-contact {
    0% {
        --x-0: 3%;
        --c-0: hsla(29.272748161764717, 100%, 51%, 0);
        --y-0: 15%;
        --s-start-0: 12.654019000483494%;
        --s-end-0: 64.52329912372664%;
        --x-1: 29%;
        --c-1: hsla(45.00000000000001, 100%, 52%, 0);
        --y-1: 13%;
        --s-start-1: 7%;
        --s-end-1: 53.6858746397729%;
        --s-start-2: 29.028055378035003%;
        --s-end-2: 29.191104963714%;
        --x-2: 3%;
        --c-2: rgb(198, 200, 255);
        --y-2: 2%;
        --c-3: hsla(345, 88%, 71%, 0);
        --x-3: 68%;
        --y-3: 41%;
        --s-start-3: 7%;
        --s-end-3: 71%;
        --c-4: hsla(266, 53%, 61%, 0);
        --x-4: 53%;
        --s-start-4: 7%;
        --s-end-4: 71%;
        --y-4: 24%;
        --c-5: hsla(274, 50%, 62%, 0);
        --x-5: 27%;
        --s-start-5: 7%;
        --s-end-5: 71%;
        --y-5: 88%;
    }
  
    20% {
        --x-0: 75%;
        --c-0: hsla(29.272748161764717, 100%, 51%, 0);
        --y-0: 8%;
        --s-start-0: 21.228252336090687%;
        --s-end-0: 68.04359652949314%;
        --x-1: 94%;
        --c-1: hsla(45.00000000000001, 100%, 50%, 0);
        --y-1: 12%;
        --s-start-1: 7;
        --s-end-1: 71;
        --s-start-2: 16.29096259322821%;
        --s-end-2: 15.967244068781538%;
        --x-2: 93%;
        --c-2: rgb(147, 150, 255);
        --y-2: 8%;
        --c-3: hsla(345, 88%, 71%, 0);
        --x-3: 47%;
        --y-3: 95%;
        --s-start-3: 7;
        --s-end-3: 71;
        --c-4: hsla(266, 53%, 61%, 0);
        --x-4: 4%;
        --s-start-4: 7;
        --s-end-4: 71;
        --y-4: 100%;
        --c-5: hsla(274, 50%, 62%, 0);
        --x-5: 12%;
        --s-start-5: 7;
        --s-end-5: 71;
        --y-5: 37%;
    }
  
    40% {
        --x-0: 98%;
        --c-0: hsla(29.272748161764717, 100%, 51%, 0);
        --y-0: 56%;
        --s-start-0: 19.567010916915596%;
        --s-end-0: 55.265727622836245%;
        --x-1: 92%;
        --c-1: hsla(45.00000000000001, 100%, 50%, 0);
        --y-1: 64%;
        --s-start-1: 25.907494638480394%;
        --s-end-1: 71;
        --s-start-2: 28.853357651654413%;
        --s-end-2: 29.655528349034928%;
        --x-2: 98%;
        --c-2: rgb(123, 128, 254);
        --y-2: 73%;
    }
  
    60% {
        --x-0: 84%;
        --c-0: hsla(29.272748161764717, 100%, 51%, 0);
        --y-0: 89%;
        --s-start-0: 25.87532133214614%;
        --s-end-0: 64.33335278080959%;
        --x-1: 69%;
        --c-1: hsla(45.00000000000001, 100%, 50%, 0);
        --y-1: 93%;
        --s-start-1: 38.79101323146446%;
        --s-end-1: 71;
        --s-start-2: 15.894969267003678%;
        --s-end-2: 15.407864140529261%;
        --x-2: 7%;
        --c-2: rgb(99, 104, 255);
        --y-2: 89%;
    }
  
    80% {
        --x-0: 12%;
        --c-0: hsla(29.272748161764717, 100%, 51%, 0);
        --y-0: 86%;
        --s-start-0: 31.630599975585938%;
        --s-end-0: 60.67434798969942%;
        --x-1: 6%;
        --c-1: hsla(45.00000000000001, 100%, 50%, 0);
        --y-1: 67%;
        --s-start-1: 38.79101323146446%;
        --s-end-1: 71;
    }
  
    100% {
        --x-0: 3%;
        --c-0: hsla(29.272748161764717, 100%, 51%, 0);
        --y-0: 15%;
        --s-start-0: 8.263952367446%;
        --s-end-0: 65.82734156589882%;
        --x-1: 29%;
        --c-1: hsla(45.00000000000001, 100%, 52%, 0);
        --y-1: 12%;
        --s-start-1: 7%;
        --s-end-1: 53%;
    }
  }
  
  @property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 3%
  }
  
  @property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(29.272748161764717, 100%, 51%, 0)
  }
  
  @property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 15%
  }
  
  @property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 12.654019000483494%
  }
  
  @property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 64.52329912372664%
  }
  
  @property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 29%
  }
  
  @property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(45.00000000000001, 100%, 52%, 0)
  }
  
  @property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 13%
  }
  
  @property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 7%
  }
  
  @property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 53.6858746397729%
  }
  
  @property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 29.028055378035003%
  }
  
  @property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 29.191104963714%
  }
  
  @property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 3%
  }
  
  @property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: rgb(97, 102, 255)
  }
  
  @property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 2%
  }
  
  @property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(345, 88%, 71%, 0)
  }
  
  @property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 68%
  }
  
  @property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 41%
  }
  
  @property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 7%
  }
  
  @property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 71%
  }
  
  @property --c-4 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(266, 53%, 61%, 0)
  }
  
  @property --x-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 53%
  }
  
  @property --s-start-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 7%
  }
  
  @property --s-end-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 71%
  }
  
  @property --y-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 24%
  }
  
  @property --c-5 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(274, 50%, 62%, 0)
  }
  
  @property --x-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 27%
  }
  
  @property --s-start-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 7%
  }
  
  @property --s-end-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 71%
  }
  
  @property --y-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 88%
  }
  
  .contact {
    --x-0: 3%;
    --c-0: hsla(29.272748161764717, 100%, 51%, 0);
    --y-0: 15%;
    --x-1: 29%;
    --c-1: hsla(45.00000000000001, 100%, 52%, 0);
    --y-1: 13%;
    --x-2: 3%;
    --c-2: rgb(197, 199, 255);
    --y-2: 2%;
    --c-3: hsla(345, 88%, 71%, 0);
    --x-3: 68%;
    --y-3: 41%;
    --c-4: hsla(266, 53%, 61%, 0);
    --x-4: 53%;
    --y-4: 24%;
    --c-5: hsla(274, 50%, 62%, 0);
    --x-5: 27%;
    --y-5: 88%;
    ;
    background-color: rgb(236, 252, 255);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4)), radial-gradient(circle at var(--x-5) var(--y-5), var(--c-5) var(--s-start-5), transparent var(--s-end-5));
    animation: bg-contact 30s linear infinite alternate;
    background-blend-mode: normal, normal, normal, normal, normal, normal;
  }

  /* BG-CARD-1 */
@keyframes bg-vision {
  0% {
      --s-start-0: 9%;
      --s-end-0: 58.89119889119889%;
      --c-0: hsla(269.68750000000006, 80%, 47%, 1);
      --x-0: 13%;
      --y-0: 16%;
      --c-1: hsla(185.37735849056605, 89%, 53%, 1);
      --x-1: 14%;
      --y-1: 89%;
      --s-start-1: 9%;
      --s-end-1: 58.89119889119889%;
      --y-2: 23%;
      --s-start-2: 2%;
      --s-end-2: 60%;
      --x-2: 23%;
      --c-2: hsla(264, 73%, 3%, 1);
  }

  100% {
      --s-start-0: 4%;
      --s-end-0: 60%;
      --c-0: hsla(239.568345323741, 65%, 41%, 1);
      --x-0: 95%;
      --y-0: 18%;
      --c-1: hsla(270.5960264900662, 75%, 39%, 1);
      --x-1: 97%;
      --y-1: 47%;
      --s-start-1: 4.5991935069083505%;
      --s-end-1: 60%;
      --y-2: 91%;
      --s-start-2: 4%;
      --s-end-2: 73%;
      --x-2: 92%;
      --c-2: hsla(42.950819672131146, 100%, 35%, 1);
  }
}

@property --s-start-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 9%
}

@property --s-end-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 58.89119889119889%
}

@property --c-0 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(269.68750000000006, 80%, 47%, 1)
}

@property --x-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 13%
}

@property --y-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 16%
}

@property --c-1 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(185.37735849056605, 89%, 53%, 1)
}

@property --x-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 14%
}

@property --y-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 89%
}

@property --s-start-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 9%
}

@property --s-end-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 58.89119889119889%
}

@property --y-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 23%
}

@property --s-start-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 2%
}

@property --s-end-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 60%
}

@property --x-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 23%
}

@property --c-2 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(264, 73%, 3%, 1)
}

.bg-vision {
  --c-0: hsla(269.68750000000006, 80%, 47%, 1);
  --x-0: 13%;
  --y-0: 16%;
  --c-1: hsla(185.37735849056605, 89%, 53%, 1);
  --x-1: 14%;
  --y-1: 89%;
  --y-2: 23%;
  --x-2: 23%;
  --c-2: rgb(3, 0, 61);
  ;
  background-color: hsla(272, 86%, 9%, 1);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1288 1288' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2));
  animation: bg-vision 10s linear infinite alternate;
  background-blend-mode: overlay, overlay, normal, normal;
}

/* BG-CARD-2 */
@keyframes bg-mision {
  0% {
      --y-0: 66%;
      --s-start-0: 5%;
      --s-end-0: 71%;
      --x-0: 66%;
      --c-0: hsla(235.55555555555557, 41%, 38%, 1);
      --s-start-1: 5%;
      --s-end-1: 71%;
      --c-1: hsla(207.8181818181818, 88%, 24%, 1);
      --y-1: 32%;
      --x-1: 91%;
      --s-start-2: 5%;
      --s-end-2: 71%;
      --c-2: hsla(206.42857142857142, 59%, 72%, 1);
      --y-2: 19%;
      --x-2: 38%;
      --y-3: 97%;
      --c-3: hsla(204.82758620689657, 67%, 66%, 1);
      --s-start-3: 5%;
      --s-end-3: 71%;
      --x-3: 62%;
  }

  100% {
      --y-0: 50%;
      --s-start-0: 5;
      --s-end-0: 71;
      --x-0: 46%;
      --c-0: hsla(235.55555555555557, 41%, 38%, 1);
      --s-start-1: 5;
      --s-end-1: 71;
      --c-1: hsla(207.8181818181818, 88%, 24%, 1);
      --y-1: 70%;
      --x-1: 10%;
      --s-start-2: 5;
      --s-end-2: 71;
      --c-2: hsla(206.42857142857142, 59%, 72%, 1);
      --y-2: 88%;
      --x-2: 8%;
      --y-3: 1%;
      --c-3: hsla(204.82758620689657, 67%, 66%, 1);
      --s-start-3: 5;
      --s-end-3: 71;
      --x-3: 30%;
  }
}

@property --y-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 66%
}

@property --s-start-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 5%
}

@property --s-end-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 71%
}

@property --x-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 66%
}

@property --c-0 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(235.55555555555557, 41%, 38%, 1)
}

@property --s-start-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 5%
}

@property --s-end-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 71%
}

@property --c-1 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(207.8181818181818, 88%, 24%, 1)
}

@property --y-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 32%
}

@property --x-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 91%
}

@property --s-start-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 5%
}

@property --s-end-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 71%
}

@property --c-2 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(206.42857142857142, 59%, 72%, 1)
}

@property --y-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 19%
}

@property --x-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 38%
}

@property --y-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 97%
}

@property --c-3 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(204.82758620689657, 67%, 66%, 1)
}

@property --s-start-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 5%
}

@property --s-end-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 71%
}

@property --x-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 62%
}

.bg-mision{
  --y-0: 66%;
  --x-0: 66%;
  --c-0: hsla(235.55555555555557, 41%, 38%, 1);
  --c-1: hsla(207.8181818181818, 88%, 24%, 1);
  --y-1: 32%;
  --x-1: 91%;
  --c-2: hsla(206.42857142857142, 59%, 72%, 1);
  --y-2: 19%;
  --x-2: 38%;
  --y-3: 97%;
  --c-3: hsla(204.82758620689657, 67%, 66%, 1);
  --x-3: 62%;
  ;
  background-color: hsla(191, 47%, 84%, 1);
  background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3));
  animation: bg-mision 5s linear infinite alternate-reverse;
  background-blend-mode: normal, normal, normal, normal;
}

/* BG-CARD-MOVIL-1 */
.bg-card-movil-1 {
  background-color: hsla(260, 100%, 46%, 0.95);
  background-image: radial-gradient(circle at 49% 75%, hsla(200, 86%, 56%, 1) 13%, transparent 61%), radial-gradient(circle at 58% 11%, hsla(271.9148936170212, 99%, 53%, 1) 13%, transparent 61%);
  background-blend-mode: normal, normal;
}

/* BG-CARD-MOVIL-2 */
.bg-card-movil-2 {
  background-color: hsla(219.44116031422334, 100%, 50%, 1);
  background-image: radial-gradient(circle at 0% 99%, hsla(181.0588073730469, 100%, 50%, 1) 0%, transparent 67%), radial-gradient(circle at 46% 94%, hsla(357, 100%, 50%, 0) 0%, transparent 81%), radial-gradient(circle at 93% 95%, hsla(266, 100%, 23%, 0) 0%, transparent 66%), radial-gradient(circle at 89% 8%, hsla(236, 100%, 9%, 0) 0%, transparent 150%);
  background-blend-mode: normal, normal, normal, normal;
}

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

