@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* BG-CARD-1 */
@keyframes hero-gradient-animation {
  0% {
      --x-0: 13%;
      --y-0: 16%;
      --c-0: hsla(265, 73%, 45%, 1);
      --s-start-0: 9%;
      --s-end-0: 58.89119889119889%;
      --x-1: 14%;
      --y-1: 89%;
      --c-1: hsla(345, 88%, 31%, 0.91);
      --s-start-1: 9%;
      --s-end-1: 58.89119889119889%;
      --y-2: 23%;
      --s-start-2: 2%;
      --s-end-2: 60%;
      --x-2: 23%;
      --c-2: hsla(264, 73%, 3%, 1);
  }

  100% {
      --x-0: 95%;
      --y-0: 18%;
      --c-0: hsla(260, 85%, 32%, 1);
      --s-start-0: 4%;
      --s-end-0: 60%;
      --x-1: 97%;
      --y-1: 47%;
      --c-1: hsla(292.99999999999994, 68%, 43%, 1);
      --s-start-1: 4.5991935069083505%;
      --s-end-1: 60%;
      --y-2: 91%;
      --s-start-2: 4%;
      --s-end-2: 73%;
      --x-2: 92%;
      --c-2: hsla(27.79411764705882, 87%, 37%, 1);
  }
}

@property --x-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 13%
}

@property --y-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 16%
}

@property --c-0 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(265, 73%, 45%, 1)
}

@property --s-start-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 9%
}

@property --s-end-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 58.89119889119889%
}

@property --x-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 14%
}

@property --y-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 89%
}

@property --c-1 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(345, 88%, 31%, 0.91)
}

@property --s-start-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 9%
}

@property --s-end-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 58.89119889119889%
}

@property --y-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 23%
}

@property --s-start-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 2%
}

@property --s-end-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 60%
}

@property --x-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 23%
}

@property --c-2 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(264, 73%, 3%, 1)
}

.bg-card-1 {
  --x-0: 13%;
  --y-0: 16%;
  --c-0: hsla(265, 73%, 45%, 1);
  --x-1: 14%;
  --y-1: 89%;
  --c-1: hsla(345, 88%, 31%, 0.91);
  --y-2: 23%;
  --x-2: 23%;
  --c-2: hsla(264, 73%, 3%, 1);
  ;
  background-color: hsla(272, 86%, 9%, 1);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1288 1288' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2));
  animation: hero-gradient-animation 2s linear infinite alternate;
  background-blend-mode: overlay, overlay, normal, normal;
}

/* BG-CARD-2 */
@keyframes hero-gradient-animation {
  0% {
      --x-0: 88%;
      --y-0: 57%;
      --s-start-0: 8%;
      --s-end-0: 47.27292564072304%;
      --c-0: hsla(217.59493670886076, 100%, 30%, 1);
      --y-1: 19%;
      --s-start-1: 1%;
      --s-end-1: 49.166438627289%;
      --x-1: 94%;
      --c-1: hsla(0, 0%, 0%, 1);
      --y-2: 77%;
      --s-start-2: 18.50397409325151%;
      --s-end-2: 49.166438627289%;
      --x-2: 24%;
      --c-2: hsla(0, 0%, 0%, 1);
      --y-3: 46%;
      --s-start-3: 8.392121895570533%;
      --s-end-3: 48.52567687605722%;
      --x-3: 0%;
      --c-3: hsla(279.7894736842105, 67%, 27%, 1);
      --c-4: hsla(279.7894736842105, 67%, 27%, 1);
      --x-4: 96%;
      --y-4: 52%;
      --s-start-4: 8.392121895570533%;
      --s-end-4: 49.58090142552271%;
      --s-start-5: 18%;
      --s-end-5: 49.94408311488525%;
      --x-5: 57%;
      --y-5: 48%;
      --c-5: hsla(217.68844221105527, 100%, 39%, 1);
      --y-6: 61%;
      --x-6: 88%;
      --s-start-6: 11.133917156423086%;
      --s-end-6: 41.601566034303026%;
      --c-6: hsla(217.59493670886076, 100%, 30%, 0);
      --c-7: hsla(217.59336099585062, 100%, 47%, 1);
      --y-7: 26%;
      --s-start-7: 9.713086970899472%;
      --s-end-7: 40.915935065940864%;
      --x-7: 11%;
  }

  50% {
      --x-0: 5%;
      --y-0: 57%;
      --s-start-0: 9;
      --s-end-0: 61.21878342221337%;
      --c-0: hsla(217.59493670886076, 100%, 30%, 1);
      --y-1: 15%;
      --s-start-1: 9;
      --s-end-1: 42.724849131360514%;
      --x-1: 51%;
      --c-1: hsla(0, 0%, 0%, 1);
      --y-2: 96%;
      --s-start-2: 9;
      --s-end-2: 42.724849131360514%;
      --x-2: 48%;
      --c-2: hsla(0, 0%, 0%, 1);
      --y-3: 38%;
      --s-start-3: 9%;
      --s-end-3: 40.539112902234415%;
      --x-3: 61%;
      --c-3: hsla(279.7894736842105, 67%, 27%, 1);
      --c-4: hsla(279.7894736842105, 67%, 27%, 1);
      --x-4: 46%;
      --y-4: 71%;
      --s-start-4: 9%;
      --s-end-4: 49.05074977970796%;
      --s-start-5: 9;
      --s-end-5: 41.70549052437993%;
      --x-5: 14%;
      --y-5: 42%;
      --c-5: hsla(217.68844221105527, 100%, 39%, 1);
      --y-6: 102%;
      --x-6: 42%;
      --s-start-6: 11.232588486654471%;
      --s-end-6: 45.2963125079906%;
      --c-6: hsla(217.59493670886076, 100%, 30%, 0);
      --c-7: hsla(217.61194029850745, 100%, 39%, 1);
      --y-7: 60%;
      --s-start-7: 9;
      --s-end-7: 26.022325116539797%;
      --x-7: 48%;
  }

  100% {
      --y-1: 4%;
      --s-start-1: 9;
      --s-end-1: 22.729655783472005%;
      --x-1: 10%;
      --c-1: hsla(0, 0%, 0%, 1);
      --y-2: 78%;
      --s-start-2: 11.236704874019%;
      --s-end-2: 32.969946745736706%;
      --x-2: 82%;
      --c-2: hsla(0, 0%, 0%, 1);
      --y-3: 57%;
      --s-start-3: 10.200720718860145%;
      --s-end-3: 50.46456494288142%;
      --x-3: 95%;
      --c-3: hsla(279.7894736842105, 67%, 27%, 1);
      --c-4: hsla(279.7894736842105, 67%, 27%, 1);
      --x-4: 5%;
      --y-4: 42%;
      --s-start-4: 10.200720718860145%;
      --s-end-4: 50.46456494288142%;
      --c-7: hsla(217.5, 100%, 31%, 1);
      --y-7: 53%;
      --s-start-7: 6.294132688184733%;
      --s-end-7: 32.60155297274837%;
      --x-7: 81%;
  }
}

@property --x-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 88%
}

@property --y-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 57%
}

@property --s-start-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 8%
}

@property --s-end-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 47.27292564072304%
}

@property --c-0 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(217.59493670886076, 100%, 30%, 1)
}

@property --y-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 19%
}

@property --s-start-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 1%
}

@property --s-end-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 49.166438627289%
}

@property --x-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 94%
}

@property --c-1 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(0, 0%, 0%, 1)
}

@property --y-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 77%
}

@property --s-start-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 18.50397409325151%
}

@property --s-end-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 49.166438627289%
}

@property --x-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 24%
}

@property --c-2 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(0, 0%, 0%, 1)
}

@property --y-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 46%
}

@property --s-start-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 8.392121895570533%
}

@property --s-end-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 48.52567687605722%
}

@property --x-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%
}

@property --c-3 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(279.7894736842105, 67%, 27%, 1)
}

@property --c-4 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(279.7894736842105, 67%, 27%, 1)
}

@property --x-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 96%
}

@property --y-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 52%
}

@property --s-start-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 8.392121895570533%
}

@property --s-end-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 49.58090142552271%
}

@property --s-start-5 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 18%
}

@property --s-end-5 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 49.94408311488525%
}

@property --x-5 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 57%
}

@property --y-5 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 48%
}

@property --c-5 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(217.68844221105527, 100%, 39%, 1)
}

@property --y-6 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 61%
}

@property --x-6 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 88%
}

@property --s-start-6 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 11.133917156423086%
}

@property --s-end-6 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 41.601566034303026%
}

@property --c-6 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(217.59493670886076, 100%, 30%, 0)
}

@property --c-7 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(217.59336099585062, 100%, 47%, 1)
}

@property --y-7 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 26%
}

@property --s-start-7 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 9.713086970899472%
}

@property --s-end-7 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 40.915935065940864%
}

@property --x-7 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 11%
}

.bg-card-2 {
  --x-0: 88%;
  --y-0: 57%;
  --c-0: hsla(217.59493670886076, 100%, 30%, 1);
  --y-1: 19%;
  --x-1: 94%;
  --c-1: hsla(0, 0%, 0%, 1);
  --y-2: 77%;
  --x-2: 24%;
  --c-2: hsla(0, 0%, 0%, 1);
  --y-3: 46%;
  --x-3: 0%;
  --c-3: hsla(279.7894736842105, 67%, 27%, 1);
  --c-4: hsla(279.7894736842105, 67%, 27%, 1);
  --x-4: 96%;
  --y-4: 52%;
  --x-5: 57%;
  --y-5: 48%;
  --c-5: hsla(217.68844221105527, 100%, 39%, 1);
  --y-6: 61%;
  --x-6: 88%;
  --c-6: hsla(217.59493670886076, 100%, 30%, 0);
  --c-7: hsla(217.59336099585062, 100%, 47%, 1);
  --y-7: 26%;
  --x-7: 11%;
  ;
  background-color: hsla(262, 82%, 3%, 1);
  background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4)), radial-gradient(circle at var(--x-5) var(--y-5), var(--c-5) var(--s-start-5), transparent var(--s-end-5)), radial-gradient(circle at var(--x-6) var(--y-6), var(--c-6) var(--s-start-6), transparent var(--s-end-6)), radial-gradient(circle at var(--x-7) var(--y-7), var(--c-7) var(--s-start-7), transparent var(--s-end-7));
  animation: hero-gradient-animation 10s linear infinite alternate-reverse;
  background-blend-mode: normal, normal, normal, normal, normal, normal, normal, normal;
}